#content
  %article.hentry.wires
    %header.wires
      %h1.entry-title Header Title
      %time.updated{:datetime => "2010-08-07 11:11:03-0400", :pubdate => ""} 08-07-2010
      %p.byline.author.vcard
        By
        %span.fn Charles Sistovaris
    .entry-content.wires
      %p ...article text...
      %p ...article text...
      %p ...article text...
      %p ...article text...
      %p ...article text...
      //%a.entry-unrelated{:href => "http://fake.site/"} Find Great Vacations
    %footer.wires
      %p
        A version of this article appeared in print on August 8,
        2010, on page BU1 of the New York edition.
      .source-org.vcard.copyright
        Copyright 2010
        %span.org.fn The New York Times Company
        
#sidebar
  %p.wires sidebar