/* =======================
*   WIREFRAMES
* ======================== */

// BASICS
.wires { display: none; }
body.wireframed {
  .wires {
    @include wired;
    display: block;
    min-height: 100px;
  }
}

// Alternate row colors
body.wireframed > div:nth-child(odd) {
  background-color: #F1F1F1;
}

// WIRE HEIGHTS
#content, #sidebar, #intro {
  .wires { min-height: 300px; }
}


// MISC
.bullet { @include grid(4); }
.bullet:nth-child(3) {margin-right: 0px;}
